// Descriptive Color Variables
$black: #000000;
$white: #ffffff;
$grey: #d3d3d3;
$slate-grey: #778899;
$black-grey: #42454D;
$caribbean-green: #15efb4;
$aqua: #48e9f9;
$granny-smith-apple: #46d283;
$cherry: #f06668;
$tangerine: #ff7518;
$violet-purple: #8957a2;
$seafoam-green: #6af0cf;
$denim: #1c7897;
$sky-blue: #62e2f9;
$lilac-purple: #ce88f2;
$spruce-green: #76c66c;
$shimmering-blush: #c66c70;
$burnt-orange: #e68b5c;
$mr-meeseeks-blue-dark: #0F2E61;
$mr-meeseeks-blue-light: #6C99E4;
$light-blue-background: #EFF3FA;
// Font Stacks
$font-url-google: 'https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700';

//Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-strong: 600;
$font-weight-bold: 700;

// Media Query Breakpoints
$brk-mobile: 320px;
$brk-tablet: 768px;
$brk-desktop: 1024px;
