// Buttons:
//Styles the send button
.message__button {
  width: 90%;
  background-color: $mr-meeseeks-blue-dark;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}

//Adds additional styling to the toggle switches
.switch-light {
  width: 30%;
  text-transform: uppercase;
}

//Styles the timezone options
.timezone__options {
  width: 91%;
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-color: $light-blue-background;
  background-color: $light-blue-background;
}

//Styles the save button
.save__button {
  width: 43%;
  text-transform: uppercase;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $mr-meeseeks-blue-dark;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 15px;
}

//Styles the cancel button
.cancel__button {
  width: 43%;
  text-transform: uppercase;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: grey;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 15px;
}

//close button "x"
.close {
  background: none;
  border: none;
  color: white;

}

// adjust fontsize of "tm" icon
.trademark {
  font-size: 5px;
}
