* {
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  width: 100%;
  margin-left: 20px;
}
